<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title>Statistics Cloud Dashboard</title>
  <meta name="description" content="">
    {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
  <h1>Data Center Apps-Processes Dashboard</h1>
<table class="container">
	<thead>
		<tr>
			<th><h1>Pid</h1></th>
			<th><h1>Name</h1></th>
			<th><h1>Cpu Frequency</h1></th>
			<th><h1>Voltage</h1></th>
			<th><h1>Temperature</h1></th>
			<th><h1>Num Threads</h1></th>
			<th><h1>Memory Consumption</h1></th>
		</tr>
	</thead>
	<tbody>
	{% for application_process in statistics_dashboard.application_processes %}
			<tr>
				<td>{{application_process.pid}} </td>
				<td>{{application_process.name}}</td>
				<td>{{application_process.cpu_frequency}} Hz</td>
				<td>{{application_process.voltage}} Volt</td>
				<td>{{application_process.temperature}} C</td>
				<td>{{application_process.num_threads}}</td>
				<td>{{application_process.memory_consumption}} MB</td>
			</tr>
	{% endfor %}
	</tbody>
</table>
</body>

</html>
