<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>
  <!-- Add your site or application content here -->
  <p>Data Center Apps-Processes Dashboards</p>
<h1>{{ statistics_dashboard.application_processes }}</h1>
  <div>
    {% for application_process in statistics_dashboard.application_processes %}
      {{ application_process.name }}
    {% endfor %}
  </div>
</body>

</html>
